{% extends "base.html" %}
{% block title %}历史接单{% endblock %}
{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col-8" style="background-color: white; margin: 20px">
            <h3 style="margin: 20px">历史接单</h3>
            <ul class="list-group" style="margin-bottom: 20px">
                {% for order in orders %}
                    <li class="list-group-item">
                        {{ order.food_name }}<p>{{ order.rider_salary }}￥</p>
                        <small id="emailHelp" class="form-text text-muted"
                               style="text-align: right">{{ order.order_date }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}