{% extends 'base.html' %}
{% block title %}商家接单{% endblock %}
{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col-8" style="background-color: white; margin-top: 20px; padding: 2em">
            <h5>订单：</h5>
            <div class="list-group">
                {% for order in orders %}
                    <a href="{{ url_for('user.merchant_take_order') }}/?id={{ order.id }}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ order.food_name }}</h5>
                            <small class="text-muted">购买时间：{{ order.order_date }}</small>
                        </div>
                        <small class="text-muted">收益：{{ order.food_price - order.rider_salary }}</small>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}