{% extends 'base.html' %}

{% block title %}上架食品{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <form action="{{ url_for('food.upload_food') }}" method="post">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="foodname" type="text" class="validate" name="foodname">
                        <label for="foodname">食品名称</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="price" type="text" class="validate" name="foodprice">
                        <label for="price">定价</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <textarea id="icon_prefix2" class="materialize-textarea" name="fooddesc"></textarea>
                        <label for="icon_prefix2">食物详情</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light right" type="submit" name="action">提交
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
