{% extends "base.html" %}
{% block title %}账单{% endblock %}
{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col-8" style="background-color: white; margin: 20px">
            <h3 style="margin: 20px">账单</h3>
            <ul class="list-group" style="margin-bottom: 20px">
                {% for bill in bills %}
                    <li class="list-group-item">
                        {% if bill.zan == False %}
                            <a href="{{ url_for('food.zan') }}?order_id={{ bill.id }}">
                                <img style="float: right;width: 25px"
                                     src="{{ url_for('static', filename='images/zan/tozan.jpg') }}"></a>
                        {% else %}
                            <a href="{{ url_for('food.zan') }}?order_id={{ bill.id }}">
                                <img style="float: right;width: 25px"
                                     src="{{ url_for('static', filename='images/zan/zaned.jpg') }}"></a>
                        {% endif %}
                        {{ bill.food_name }}<p>{{ bill.food_price }}￥</p>
                        <small id="emailHelp" class="form-text text-muted"
                               style="text-align: right">{{ bill.order_date }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}