{% extends 'base.html' %}
{% block title %}联系TA们{% endblock %}
{% block head %}
    <style>
        .chat-box {
            margin-top: 3em;
            background-color: white;
            height: 40em;
            max-height: 40em;
            overflow: auto;
            padding: 1em !important;
        }
        .tag {
            padding: 6px 10px;
            border-radius: 9px;
            max-width: 15em;
        }
        .connect-info {
            margin:0 auto;
            padding: 4px 10px;
            border-radius: 9px;
            width: 15em;
        }
    </style>
{% endblock %}
{% block body %}
<script src="/static/js/jquery-3.6.0.js"></script>
<script src="/static/js/materialize.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3 chat-box">

        </div>
    </div>
    <div class="row">
        <div class="col s8 m5 offset-m3">
            <div class="input-field ">
                <input id="last_name" type="text" class="validate put">
            </div>
        </div>
        <div class="col">
            <a class="btn">按钮</a>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="/static/js/socket.io.js"></script>
    <script>
    // 获取url中指定参数
    function getQueryVariable(variable) {
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (let i = 0; i < vars.length; i++) {
            let pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return null;
    }

    let chatBox = $('.chat-box');
    let sendMsgBtn = $('.btn');
    let msgInp = $('.put');
    let room = getQueryVariable('orderid');
    let username = '{{ username }}';
    let userid = '{{ user_id }}';
    $.ajax({
        type: 'GET',
        url: '/elebu/api/v1/message/',
        data: {
            room: room,
            userid: userid
        },
        success: function (resp) {
            let msg = null;
            for(let m of resp.data) {
                console.log(m)
                if (resp['userinfo'][m['send_msg_user']] === username) {
                    msg = ` <div class="row">
                                <div class="col right">
                                    <div class="tag teal z-depth-2 hoverable" >
                                      <span class="white-text">${m.message}
                                      </span>
                                    </div>
                                </div>
                            </div> `
                } else {
                    msg = ` <div class="row">
                                <div class="col">
                                    <div class="tag z-depth-2 hoverable" >
                                      <span class="tesl-text"><b>${resp['userinfo'][m['send_msg_user']]}:</b>${m.message}
                                      </span>
                                    </div>
                                </div>
                            </div> `
                }
                chatBox.append(msg);
            }
            chatBox[0].scrollTop = chatBox[0].scrollHeight;
        },
        error: function () {
            Materialize.toast('请查看网络', 4000);
        }
    });
    let socket = io();
    console.log(location.protocol + '//' + document.domain + ':' + location.port);
    socket.connect(location.protocol + '//' + document.domain + ':' + location.port);
    // 加入房间
     socket.emit('join', {
         username: username,
         room: room
     })

    // 发送消息
    sendMsgBtn.on('click', function () {
        let msg = msgInp.val();
        console.log(msg);
        msgInp.val('');
        if(msg){
            socket.emit('send msg',
                {
                    username: username,
                    userid: userid,
                    message: msg,
                    room: room
                })
            chatBox[0].scrollTop = chatBox[0].scrollHeight;
        }else{
            Materialize.toast('消息不能为空', 4000);
        }
    });
    // 回车触发点击事件
    msgInp[0].addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.key === 'Enter') {
                sendMsgBtn.click();
            }
        });
    // 连接信息
    socket.on('connect info', function (data) {
        console.log(data);
        chatBox.append(`<div class="row">
                            <div class="connect-info grey center lighten-4" >
                              <span class="black-text">${data}
                              </span>
                            </div>
                        </div>`)

    })
    // 接受消息
    socket.on('send msg', function (data) {
        console.log(data);
        let msg = null;
        if(data.username == username){
            console.log('自己');
            msg = ` <div class="row">
                        <div class="col right">
                            <div class="tag teal z-depth-2 hoverable" >
                              <span class="white-text">${data.message}
                              </span>
                            </div>
                        </div>
                    </div> `
        }else{
            console.log('别人');
            msg = ` <div class="row">
                        <div class="col">
                            <div class="tag z-depth-2 hoverable" >
                              <span class="tesl-text"><b>${data.username}:</b>${data.message}
                              </span>
                            </div>
                        </div>
                    </div> `
            console.log(username + '看了');
        }
       // allmsg.push({username: data.username, message: data.message})
        chatBox.append(msg);
        chatBox[0].scrollTop = chatBox[0].scrollHeight;
    })
    </script>
{% endblock %}
