{% extends "base.html" %}
{% block title %}收藏夹{% endblock %}
{% block body %}
    <div class="row">
        <div class="col"></div>
        <div class="col-8" style="background-color: white; margin-top: 20px">
            <h3>收藏夹</h3>
            <hr>
            <ul class="list-group">
                {% for collection in collections %}
                    <li class="list-group-item">
                        <a class="list-group-item list-group-item-action"
                           href="{{ url_for('food.food_details') }}?id={{ collection.food_id }}">{{ collection.food_name }}</a>
                        <p style="text-align: right">{{ collection.food_price }}￥</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}