{% extends "base.html" %}
{% block title %}关注列表{% endblock %}
{% block body %}
       <div class="row">
        <div class="col"></div>
        <div class="col-8" style="background-color: white; margin-top: 20px">
        <h3>收藏店铺</h3>
        <hr>
            <ul class="list-group">
                {% for merchant in merchants %}
                    <li class="list-group-item" style="height: 6em">
                        <a class="list-group-item list-group-item-action" style="height: 5em"
                           href="{{ url_for('food.merchant_homepage') }}?id={{ merchant.followed_id }}">
                            <p style="font-size: 2em">
                                {{ merchant.username }}
                            <img src={{ url_for('static', filename='images/avatar/' + '{}'.format(merchant.followed_id) + '.png') }}  alt="英俊潇洒的头像"
                            onerror="this.src='{{ avatars.robohash(merchant.username) }}'"  style="width: 2em; height: 2em; float: right"/>
                            </p>
                        </a>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}