{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
    <style>
        .merchant-img {
            height: 15em;
            width: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12 m4 offset-m4">
                    <i class="material-icons prefix">search</i>
                    <input id="last_name" type="text" class="validate" name="keyword">
                    <label for="last_name">搜索店名</label>
                </div>
            </div>
        </form>
    </div>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="/static/images/1.jpg">
                <div class="caption center-align">
                    <h3>hhhhh</h3>
                    <h5 class="light grey-text text-lighten-3">hhhh</h5>
                </div>
            </li>
            <li>
                <img src="/static/images/2.gif"> <!-- random image -->
                <div class="caption left-align">
                    <h3>左对齐标题</h3>
                    <h5 class="/static/images/1.png">这是我们的小口号。</h5>
                </div>
            </li>
            <li>
                <img src="/static/images/3.gif"> <!-- random image -->
                <div class="caption right-align">
                    <h3>右对齐标题</h3>
                    <h5 class="light grey-text text-lighten-3">这是我们的小口号。</h5>
                </div>
            </li>
            <li>
                <img src="/static/images/4.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3>这是一个巨大的标签行</h3>
                    <h5 class="light grey-text text-lighten-3">这是我们的小口号。</h5>
                </div>
            </li>
        </ul>
    </div>
  <ul class="pagination tag-classify">
    <li class="waves-effect"><a href="?tag=甜品">甜品</a></li>
    <li class="waves-effect"><a href="?tag=饮品">饮品</a></li>
    <li class="waves-effect"><a href="?tag=娱乐">娱乐</a></li>
    <li class="waves-effect"><a href="?tag=超市">超市</a></li>
    <li class="waves-effect"><a href="?tag=鲜花">鲜花</a></li>
    <li class="waves-effect"><a href="?tag=蔬菜">蔬菜</a></li>
    <li class="waves-effect"><a href="?tag=水果">水果</a></li>
    <li class="waves-effect"><a href="?tag=药品">药品</a></li>
    <li class="waves-effect"><a href="?tag=早餐">早餐</a></li>
    <li class="waves-effect"><a href="?tag=午餐">午餐</a></li>
    <li class="waves-effect"><a href="?tag=晚餐">晚餐</a></li>
    <li class="waves-effect"><a href="?tag=夜宵">夜宵</a></li>
    <li class="waves-effect"><a href="?tag=蛋糕">蛋糕</a></li>
    <li class="waves-effect"><a href="?tag=面包">面包</a></li>
    <li class="waves-effect"><a href="?tag=日料">日料</a></li>
    <li class="waves-effect"><a href="?tag=西餐">西餐</a></li>
    <li class="waves-effect"><a href="?tag=中餐">中餐</a></li>
    <li class="waves-effect"><a href="?tag=小吃">小吃</a></li>
    <li class="waves-effect"><a href="?tag=快餐">快餐</a></li>
  </ul>
    <div class="row merchant-list">
    </div>
    <ul id="pagination" class="pagination center">
    </ul>
    <div id="notice" class="modal">
        <div class="modal-content">
            <h4>通知标题</h4>
            <p>通知内容</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">关闭</a>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/index.js"></script>
{% endblock %}