{% extends "base.html" %}
{% block title %}店家主页{% endblock %}
{% block body %}
    <div class="row">
    <div class="col"></div>
    <div class="col-8" style="background-color: white; margin-top: 40px">
        <h3 style="margin-top: 20px">
        <img src={{ url_for('static', filename='images/avatar/' + '{}'.format(merchant.id) + '.png') }}  alt="英俊潇洒的头像"
                        onerror="this.src='{{ avatars.robohash(user.username) }}'"  style="float: right; width: 6em; height: 6em; border-radius: 50%"/>
            商家 {{ merchant.username }}
            <form action="{{ url_for('user.follow') }}" method="post">
                <input type="hidden" name="followed_id" value="{{ merchant.id }}">
                {% if follow_status %}
                    <button type="submit" class="btn btn-light mb-2" style="margin-top: 10px">已关注</button>
                {% else %}
                    <button type="submit" class="btn btn-info mb-2" style="margin-top: 10px">关注</button>
                {% endif %}
            </form>
        </h3>
        <hr>
        <h5>标签：{{ merchant.label }}</h5>
        <hr>
        <h5>店家食品：</h5>
        <ul class="list-group">
            {% for food in foods %}
                <li class="list-group-item">
                    <a class="list-group-item list-group-item-action" href="{{ url_for('food.food_details') }}?id={{ food.id }}">
                        <img style="height: 70px; width: auto" src={{ url_for('static', filename="images/food/{}/{}.png".format(food.id, food.id))}}  class="card-img-top" alt="好吃的" onerror="this.src='https://bpic.588ku.com/art_water_pic/19/04/08/8e7fc58748b4bdcc865218b3e9e1f774.jpg'"/>
                        {{ food.food_name }}
                    </a>
                    <p style="text-align: right">只需{{ food.food_price }}￥</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col"></div>
</div>
{% endblock %}