{% extends 'base.html' %}
{% block title %}注册{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='jquery/jquery.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock%}

{% block body %}
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <form action="{{ url_for('user.register') }}" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">邮箱</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <small id="emailHelp" class="form-text text-muted">我们不会把你的邮箱告诉别人的！</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">确认密码</label>
                <input type="password" class="form-control" name="password_confirm">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">注册身份</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" name="role_id">
                <option value="1" selected>顾客</option>
                <option value="2">商家</option>
                <option value="3">骑手</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">立即注册</button>
        </form>
    </div>
    <div class="col-sm">
    </div>
</div>
{% endblock %}